*{
    margin: 0;
    padding: 0;
}
#form{
    width: 100%;
    text-align: center;
    top: 20px;
    position: relative;
}
#tab{
    position: relative;
    left: 38%;
    text-align: center;
    top: 40px;
}
table td{
    width: 20%;
    border: 1px solid;
}

/* #items{
    position: relative;
    text-align: center;
    top: 20px;
} */